@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

:root {
    --error-light: hsl(358, 60%, 90%);
    --error-mid: hsl(358, 100%, 80%);
    --error-dark: var(--red);
    --textspacing: 0vh;
}

/* GENERAL */
.container{
    background-color: var(--offwhite);
    height: calc(100vh - 4.25em);
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}

.bounding-box{
    width: 60vh;
    pointer-events: auto;
    margin: auto;
    align-items: center;
}

.input-container{
    display: inline-flex;
    position: relative;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 0;
    width: fit-content;
}

.input-container input {
    width: 100%;
    height: 3vh;
    padding: 2vh;
    border-width: 0 0 0.25vh 0;
    border-radius: 1.5vh 1.5vh 0.25vh 0.25vh;
    outline: none;
    text-align: left;
    font-size: 2vh;
    font-family: "Montserrat";
    font-weight: 600;
    user-select: none;
    letter-spacing: var(--textspacing);
    transition:
        /* background-color 200ms ease,
        color 200ms ease, */
        border-width 500ms linear,
        margin-bottom 500ms linear
}

.input__valid{
    border-color: rgb(220, 220, 220);
    color: var(--textcolor);
    background-color: var(--lightgray);
    caret-color: var(--textcolor);
}

.input__valid:focus{
    border-color: var(--yellow);
    border-width: 0 0 0.35vh;
    margin-bottom: -0.1vh;
}

.input__valid:-webkit-autofill,
.input__valid:-webkit-autofill:hover, 
.input__valid:-webkit-autofill:focus, 
.input__valid:-webkit-autofill:active{
    background-color: var(--lightgray) !important;
    color: var(--textcolor) !important;
    -webkit-text-fill-color: var(--textcolor) !important;
    -webkit-textfont-family: "Montserrat" !important;
    font-weight: 600 !important;
    box-shadow: 0 0 0 1000px var(--lightgray) inset !important;
    -webkit-box-shadow: 0 0 0 1000px var(--lightgray) inset !important;
}

.input__valid::placeholder{
    color: var(--textcolor); 
    opacity: 50%; 
    letter-spacing: var(--textspacing);
}

.input__valid:-ms-input-placeholder{
    color: var(--textcolor); 
    opacity: 50%; 
    letter-spacing: var(--textspacing);
}

.input__valid::-ms-input-placeholder{
    color: var(--textcolor); 
    opacity: 50%; 
    letter-spacing: var(--textspacing);
}

.input__invalid{
    border-color: var(--error-mid);
    color: var(--red);
    background-color: var(--error-light);
    caret-color: var(--red);
}

.input__invalid:focus{
    border-color: var(--error-dark);
    border-width: 0 0 0.35vh;
    margin-bottom: -0.1vh;
}

.input__invalid:-webkit-autofill,
.input__invalid:-webkit-autofill:hover, 
.input__invalid:-webkit-autofill:focus, 
.input__invalid:-webkit-autofill:active{
    background-color: var(--error-light) !important;
    color: var(--red) !important;
    -webkit-text-fill-color: var(--red) !important;
    -webkit-textfont-family: "Montserrat" !important;
    font-weight: 600 !important;
    box-shadow: 0 0 0 1000px var(--error-light) inset !important;
    -webkit-box-shadow: 0 0 0 1000px var(--error-light) inset !important;
}

.input__invalid::placeholder{
    color: var(--red) !important;
    opacity: 80%;
    letter-spacing: var(--textspacing);
}

.input__invalid:-ms-input-placeholder{
    color: (--red) !important;
    opacity: 80%;
    letter-spacing: var(--textspacing);
}

.input__invalid::-ms-input-placeholder{
    color: (--red) !important;
    opacity: 80%;
    letter-spacing: var(--textspacing);
}

/* TITLE AND TERMS */
.title{
    position: relative;
    margin: auto;
    text-align: center;
    color: var(--textcolor);
    width: fit-content;
    font-size: 4vh;
    padding-bottom: 2.5vh;
    margin-bottom: 1.75vh;
    transform: translateX(-0.5vh);
    white-space: pre;
}

@keyframes blink{
    from { opacity: 0 }
    to { opacity: 1 }
}

.title::after{
    content: '';
    position: absolute;
    height: 4.65vh;
    margin-top: 0.25vh;
    width: 0.5vh;
    background-color: var(--textcolor);
    animation: blink 500ms ease-in-out infinite alternate;
    border-radius: 0.1vh;
}

.terms > p{
    margin: 0;
    margin-top: 3vh;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 2.4vh;
    text-align: center;
    color: var(--textcolor);
}
    
.terms > p > a{
    color: inherit;
    text-decoration: none;
}

.terms > p > a:hover{
    opacity: 75%;
}

/* FORM STRUCTURE */

/* REGISTER */
    #fname-container{
        margin-top: 0;
    }

    #lname-container{
        margin-top: 0;
    }

    #password-confirm-container{
        margin-bottom: 0;
    }

    #fname{
        width: 24.75vh;
        margin-right: 0.75vh;
    }

    #lname{
        width: 24.75vh;
        margin-left: 0.75vh;
    }

    #username{
        width: 24.75vh;
        margin-right: 0.75vh;
    }

    #dob{
        width: 24.75vh;
        margin-left: 0.75vh;
    }

    #email{
        width: 55.5vh;
    }

    #password-register{
        width: calc(56vh - 14.5vh);
        padding-right: 16vh;
        letter-spacing: 0.35vh;
    }

    #password-confirm{
        width: 55.5vh;
        letter-spacing: 0.35vh;
    }

    /* LOGIN */
    #username-email{
        width: 55.5vh;
    }

    #password-login{
        width: calc(56vh - 16.5vh);
        padding-right: 18vh;
        letter-spacing: 0.35vh;
    }

/* PASSWORD BOX */
.password{
    letter-spacing: 0.4vh
}

.password-buttons{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2.75vh;
    border: none;
    border-radius: 2vh;
    font-size: 2vh;
    line-height: 7vh;
    cursor: pointer;
}

.password-buttons > p{
    display: inline-block;
    margin: 0;
    font-size: 2vh;
    font-weight: 700;
    white-space: pre;
    transition: opacity 500ms;
}

.input__valid + .password-buttons > p{
    color: var(--textcolor);
    opacity: 25%
}

.input__invalid + .password-buttons > p{
    color: var(--red);
    opacity: 45%
}

#show-password:hover{
    opacity: 100%;
}

#auto-password:hover{
    opacity: 100%;
}

#forgot-password:hover{
    opacity: 100%;
}

/* BUTTONS */
.buttons{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#button-create-account{
    width: 35vh;
    margin-top: 2vh;
    margin-bottom: 0;
}

#button-log-in{
    width: 23.5vh;
    margin-top: 2vh;
    margin-bottom: 0;
}

.register > #button-create-account{
    margin-right: 0.75vh;
}

.register > #button-log-in{
    margin-left: 0.75vh;
}

.login > #button-create-account{
    margin-left: 0.75vh;
}

.login > #button-log-in{
    margin-right: 0.75vh;
}

/* BUTTONS */
.button-3d-wrapper{
    background-color: var(--selected);
    padding: 0.6vh;
    margin: 4vh 1vh 0;
    width: fit-content;
    border-radius: 2.25vh;
    transition: background-color 00ms ease;
}

.button-3d{
    cursor: pointer;
    background-color: hsl(45, 100%, 50%);
    color: white;
    padding: 2vh 5vh;
    border-radius: 1.75vh;
    border: none;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 2.5vh;
    box-shadow: 0 0.7vh hsl(45, 100%, 43%);
    transition: 
        transform 100ms ease, 
        box-shadow 100ms ease,
        filter 200ms ease,
        background-color 200ms ease;
    transform: translateY(-0.7vh);
}

.button-3d:hover{
    filter: brightness(1.05)
}

.button-3d:active{
    transform: translateY(0);
    box-shadow: none;
}

.button-3d-overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 1.75vh;
    box-shadow: 0 0 var(--selected) inset;
    transition: box-shadow 100ms ease;
}

.button-3d:active > div{
    box-shadow: 0 0.6vh var(--selected) inset;
}