.card__conjugations__wrapper{
    width: fit-content;
    border-radius: 100vmax;
    transition: transform 500ms ease;
}

.card__conjugations__face{
    box-sizing: content-box;
    position: relative;
    font-size: 1em;
    padding: 1em 1.5em;
    height: 1.75em;
    width: fit-content;
    border-radius: 0.4em;
    color: var(--textcolor);
    background-color: var(--offwhite);
    box-shadow: 0.25em 0.25em 0.25em 0.125em var(--shadow);
    border: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 500ms ease, background-color 200ms ease;
}

button.card__conjugations__face:hover{
    transform: scale(1.025)
}

button.card__conjugations__face{
    cursor: pointer;
}

button.card__conjugations__face[color = "red"]:hover{ background-color: var(--red) }
button.card__conjugations__face[color = "orange"]:hover{ background-color: var(--orange) }
button.card__conjugations__face[color = "yellow"]:hover{ background-color: var(--yellow) }
button.card__conjugations__face[color = "green"]:hover{ background-color: var(--green) }
button.card__conjugations__face[color = "blue"]:hover{ background-color: var(--blue) }
button.card__conjugations__face[color = "purple"]:hover{ background-color: var(--purple) }

button.card__conjugations__face:hover .card_conjugations__subject,
button.card__conjugations__face:hover .card_conjugations__conjugation{
    color: var(--offwhite) !important;
}

.card__conjugations__face *{
    pointer-events: none;
}

.card__conjugations__face p{
    margin: 0;
    padding: 0;
    width: fit-content;
    height: 1.75em;
    z-index: 0;
}

.card__conjugations__face span{
    transition: color 200ms ease;
    font-size: 1.5em;
    color: var(--textcolor);
    white-space: pre;
    font-weight: 600;
}

.card_conjugations__subject{
    /* font-weight: 600; */
    color: var(--textcolor);
}

.card_conjugations__subject.bipartite{
    opacity: 0.75;
}

.card_conjugations__conjugation.bipartite{
    font-weight: 700;
}

.card_conjugations__conjugation.bipartite::before{
    content: " "
}

.card__conjugations__face__pulse__wrapper{
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0.45em;
    overflow: hidden;
}

.card__conjugations__face__pulse__circle1,
.card__conjugations__face__pulse__circle2 {
    height: 2em;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.card__conjugations__face__pulse__circle2{
    opacity: 0.5;
}

@keyframes pulse-small{
    0% { visibility: visible }
    100% {
        transform: translate(-50%, -50%) scale(5);
        opacity: 0;
    }
}

@keyframes correct-pulse{
    0% { transform: scale( 1 ) }
    50% { transform: scale( 1.05 ) }
    100% { transform: scale( 1 ) }
}

@keyframes incorrect-shake{
    0% { transform: rotate( 0 )  }
    12.5% { transform: rotate( 2.5deg ) }
    37.5% { transform: rotate( -2.5deg ) }
    62.5% { transform: rotate( 2.5deg ) }
    87.5% { transform: rotate( -2.5deg ) }
    100% { transform: rotate( 0 ) }
}

[status = "active"]{
    background-color: var(--blue-highlight);
    outline: 0.05em solid var(--blue);
}

[status = "correct"]{
    background-color: var(--green-highlight);
    outline: 0.05em solid var(--green-dark);
    animation: correct-pulse 500ms ease alternate;
}

[status = "incorrect"]{
    background-color: var(--red-highlight);
    outline: 0.05em solid var(--red);
    animation: incorrect-shake 500ms ease;
}

[status = "inactive"]{
    background-color: var(--offwhite);
    outline: 0.05em solid var(--shadow);
}

[status = "warning"]{
    background-color: var(--yellow-highlight);
    outline: 0.05em solid var(--yellow-dark);
}

[status = "active"] span{ color: var(--blue) !important }
[status = "correct"] span{ color: var(--green-dark) !important }
[status = "incorrect"] span{ color: var(--red) !important }
[status = "warning"] span{ color: var(--yellow-dark) !important }