#progress-bar__wrapper{
    --progress-animation: slide-in 500ms ease forwards;
    
    position: absolute;
    top: 3.5em;
    margin-bottom: 0.5em;
    transition: opacity 200ms ease;
    display: flex;
    align-items: center;
    
    animation: var(--progress-animation)
}

@keyframes slide-in{
    0%{
        opacity: 0;
        transform: translateX(5em);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

#progress-bar__background{
    width: 45em;
    height: 1.5em;
    border-radius: 100vmax;
    overflow: hidden;
    background-color: var(--selected);
}

#progress-bar__foreground{
    position: absolute;
    height: 1.5em;
    background-color: var(--green);
    border-radius: 100vmax;
    overflow: hidden;
    transition: width 500ms ease;
}

#progress-bar__foreground::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 50%;
    background: -webkit-linear-gradient(90deg, rgb(128, 128, 128) 0%, rgb(220, 220, 220) 100%);
    mix-blend-mode: soft-light;
}

#exit{
    position: absolute;
    right: 0;
    transform: translate( calc( 100% + 0.75em ) );
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--textcolor);
    opacity: 0.5;
}

#exit::after{
    content: "\2715";
    font-size: 1.75em;
    font-family: none;
    font-weight: bold;
    color: black;
    opacity: 50%;
    cursor: pointer;
    transition: opacity 200ms ease;
}

#exit:hover::after{
    opacity: 75%;
}
