#progress{
    --canvas-width: 100%;
    --stroke-width: 4.5vh;
    
    --radius: calc(50% - ( var(--stroke-width) / 2 ) );
    --pi: 3.14159265358979;
    --circumference: calc( 2 * var(--radius) * var(--pi) );
    --degconst: var(--circumference) / 360;
    
    --initial: 50; /* 0 - 360 */
    --target: 300; /* 0 - 360 */
    --target--base: 300; /* 0 - 360 */
    --target--bonus: 320; /* 0 - 360 */
    --speed: 0.25; /* 0 - 1 */
    
    --delta: calc( var(--target) - var(--initial) ); /* Use if target > initial */
    --animation-duration: calc( ( 1 / var(--speed) * 250ms ) + ( var(--delta) / 360 ) * ( 1 / var(--speed) * 2000ms ))
    
    --animation-duration--base: calc( ( 1 / var(--speed) * 250ms ) + ( var(--delta) / 360 ) * ( 1 / var(--speed) * 2000ms ))
    --animation-duration--bonus: calc( ( 1 / var(--speed) * 250ms ) + ( var(--delta) / 360 ) * ( 1 / var(--speed) * 2000ms ))

  
    position: relative;
    animation: content-in 500ms ease forwards;
}

@keyframes content-in{
    0%{
        opacity: 0;
        transform: translateX(5em);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

#progress-circle{
    /* overflow: hidden; */
    width: 70vh;
    height: 70vh;
    border-radius: 100%;
    background-color: transparent;
    position: relative;
}


#current-level-title{
    position: absolute;
    top: 11vh; left: 50%;
    padding-bottom: 0.5vh;
    transform: translateX(-50%);
    margin: 0;
    text-align: center;
    color: var(--textcolor);
    font-size: 5vh;
    width: fit-content;
}

#current-level-title::after{
    position: absolute;
    left: 50%; top: 100%;
    transform: translate(-50%);
    content: "";
    border-radius: 100vmax;
    width: 15vh;
    height: 0.075em;
    background-color: var(--textcolor);
}

#current-level-value{
    position: absolute;
    left: 0;
    top: 14vh;
    width: 70vh;
    margin: 0;
    text-align: center;
    font-size: 24vh;
    font-weight: 700;

    background-color: rgb(0, 0, 0);
    color: transparent;
    text-shadow: 0 0.5vh 1vh rgba(255, 255, 255, 0.25);
    background-clip: text;
}

#xp{
    position: absolute;
    top: 39vh;
    height: fit-content;
    width: 70vh;
}

#xp > p{
    position: absolute;
    width: fit-content;
    margin: 0;
    text-align: center;
    color: var(--textcolor);
    font-size: 5vh;
}

#xp .main-text{
    margin: 0;
    width: fit-content;
    text-align: center;
    color: var(--textcolor);
    font-size: 5vh;
}

#xp .sub-text{
    margin: 0;
    width: fit-content;
    top: 6vh;
    text-align: center;
    color: var(--textcolor);
    font-weight: 500;
    font-size: 2.5vh;
}

#xp > div{
    position: absolute;
    width: fit-content;
}

#xp #divider{
    left: 34.9vh; 
    height: 1em;
    width: 0.1em;
    border-radius: 100vmax;
    font-weight: 400;
    background-color: var(--textcolor);
    transform: translateY(0.5vh);
}

#xp #current-xp{right: 36vh}
#xp #next-level{left: 36vh}

#xp #current-xp > p {margin-right: 0; margin-left: auto}
#xp #next-level > p {margin-left: 0;  margin-right: auto}

#xp #current-xp > .main-text {padding-right: 1vh}
#xp #next-level > .main-text {padding-left: 1vh}

#language{
    box-sizing: border-box;
    position: absolute;
    top: 50vh; 
    left: 29vh;
    padding: 1vh;
    width: 12vh;
    height: 12vh;
    background-color: var(--selected);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#language > img{
    width: 10vh;
    margin: 0;
    border-radius: 50%;
}

#language #img-shadow{
    position: absolute;
    width: 10vh;
    height: 10vh;
    top: 1vh;
    left: 1vh;
    border-radius: 50%;
    box-shadow: 1vh 1vh rgb(0 0 0 / 0.15) inset;
}

#progress-circle > svg {
    transform: rotate(-90deg);
    width: var(--canvas-width);
    aspect-ratio: 1;
}
  
#progress-circle__background {
    stroke: var(--yellow);
    stroke-width: var(--stroke-width);
    opacity: 0.15;
    fill: transparent;
}
  
#progress-circle__base {
    stroke: var(--yellow);
    stroke-width: var(--stroke-width);
    fill: transparent;
    stroke-dasharray: var(--circumference);
    stroke-dashoffset: calc( ( 360 - var(--initial) ) * var(--degconst) );
    stroke-linecap: round;
    animation: draw-arc--base var(--animation-duration--base) ease forwards;
}

#progress-circle__bonus {
    stroke: var(--yellow);
    opacity: 0.5;
    stroke-width: var(--stroke-width);
    fill: transparent;
    stroke-dasharray: var(--circumference);
    stroke-dashoffset: calc( ( 360 - var(--initial) ) * var(--degconst) );
    stroke-linecap: round;
    animation: draw-arc--base var(--animation-duration--base) ease forwards;
}

@keyframes draw-arc--base {
    to {
      stroke-dashoffset: calc( ( 360 - var(--target--base) ) * var(--degconst) );
    }
}

@keyframes draw-arc--bonus {
    to {
      stroke-dashoffset: calc( ( 360 - var(--target--bonus) ) * var(--degconst) );
    }
}

@keyframes new-level {
    0%{
        scale: 1;
    }
    25%{
        scale: 1.05;
        rotate: 5deg
    }
    50%{
        scale: 1;
    }
    75%{
        scale: 1.05;
        rotate: -5deg
    }
    100%{
        scale: 1;
        rotate: 0deg
    }
}