#reference{
    background-color: var(--offwhite);
    box-sizing: border-box;
    padding: 2vh;
    display: flex;
    overflow: hidden;
}

#left-content{
    height: 100%;
    width: 20vw;
    min-width: 15em;
    overflow-x: hidden;
    border-radius: 1em;
    transition: 
        width 500ms ease,
        min-width 500ms ease,
        opacity 500ms ease,
        filter 500ms ease;
}

#right-content{
    width: 100%;
    height: 100%;
    flex: 1;
    border-radius: 1em;
    margin-left: 1em;
    overflow: hidden;
    
    transition: 
        width 500ms ease,
        margin-left 500ms ease;
}

#verb-search{
    box-sizing: border-box;
    height: 4em;
    border-radius: 1em;
    margin-bottom: 1em;
    padding: 1em 1.25em;
    background-color: var(--lightgray);
    color: var(--textcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: box-shadow 200ms ease;
}

#verb-search__input{
    height: 100%;
    border: 0;
    outline: none;
    background-color: transparent;
    border-radius: 0.5em;
    color: var(--textcolor);
    font-size: 1.25em;
    font-family: 'Montserrat';
    font-weight: 600;
    width: 100%;
}

#verb-search:focus{
    box-shadow: 0 0 0 1em var(--selected);
}

#verb-search > svg{
    margin-right: 0.5em;
}

#verb-search > button{
    cursor: pointer;
    margin: 0;
    padding: 0;
    margin-left: 0.5em;
    background-color: transparent;
    border: none;
    width: 1.25em;
    /* height: 1.25em; */
    color: var(--textcolor);
}

#verb-search > button:hover{
    opacity: 75%;
}

#verb-search > button > svg{
    height: 100%;
    width: 100%;
    transform: translateY(0.1em);
}

#verb-search__star{
    position: relative;
    color: var(--textcolor);
    /* width: 1.25em;
    height: 1.25em; */
}

#verb-search__star > svg{
    position: absolute;
    height: 1.35em;
    aspect-ratio: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 200ms ease;
    stroke: var(--textcolor);
    stroke-width: 10;
}

#verb-carousel{
    position: relative;
    width: 100%;
    height: calc(100% - 5em);
}

#verb-carousel__content{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1em 1.5em 3em 1.5em;
    background-color: var(--lightgray);
    border-radius: 1em;
    overflow-y: scroll;
    /* scroll-snap-type: y mandatory; */

    -ms-overflow-style: none;
    scrollbar-width: none;
}

#verb-carousel__content::-webkit-scrollbar {
    display: none;
}

#verb-carousel__loading{
    width: fit-content;
    height: fit-content;
    margin: auto;
    display: flex;
    /* transform: translateY(1.25em); */
    margin-top: 1.85em;
}

@keyframes loading-circle-pulse{
    from { 
        transform: scale(1);
        opacity: 100%
    }
    to { 
        transform: scale(1.5);
        opacity: 60%
    }
}

#verb-carousel__loading-circle-1,
#verb-carousel__loading-circle-2,
#verb-carousel__loading-circle-3{
    background-color: var(--textcolor50);
    width: 0.75em;
    height: 0.75em;
    border-radius: 50%;
    margin: 0 0.5em;
}

#verb-carousel__loading-circle-1{
    animation: loading-circle-pulse 750ms ease-in-out infinite alternate;
}

#verb-carousel__loading-circle-2{
    animation: loading-circle-pulse 750ms ease-in-out 250ms infinite alternate;
}

#verb-carousel__loading-circle-3{
    animation: loading-circle-pulse 750ms ease-in-out 500ms infinite alternate;
}

#verb-carousel__empty{
    background-color: var(--textcolor);
    color: var(--offwhite);
    line-height: 4.5em;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 0.5em;
    border-radius: 0.5em;
    white-space: pre;
    box-shadow: 0.1em 0.1em 0.25em var(--selected), 
                0.1em 0.1em 0.5em var(--selected),
                0.1em 0.1em 1em var(--selected);
}

.arrow-button{
    position: absolute;
    cursor: pointer;
    width: 1.2em;
    height: 2.4em;
    top: 50%;
    background-color: var(--textcolor);
    color: var(--offwhite);
    border-radius: 1.2em 0 0 1.2em;
    display: flex;
    align-items: center;
    justify-content: right;
    opacity: 0%;
    transition: opacity 300ms ease;
}

.arrow-button > svg{
    margin-right: 0.25em;
    height: 1em;
}

.arrow-button:hover{
    opacity: 50%
}

.arrow-button.left{
    transform: translateY(-50%) rotate(0);
    right: 0;
}

.arrow-button.right{
    transform: translateY(-50%) rotate(180deg);
    left: 0;
}

.verb-card{
    position: relative;
    height: 5.5em;
    width: 100%;
    padding: 0.5em 0;
    box-sizing: border-box;
    scroll-snap-align: center;
}

.verb-card-face{
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    opacity: 90%;
    background-color: var(--offwhite);
    box-shadow: 0.1em 0.1em 0.5em var(--selected);
    overflow: hidden;
    transition: background-color 300ms ease, 
                transform 200ms ease,
                opacity 300ms ease;
}

.verb-card-face > p{
    cursor: pointer;
    white-space: nowrap;
    padding: 0.5em 1em;
    border-radius: 3em;
    color: var(--textcolor);
    transition: 
        color 100ms ease,
        background-color 300ms ease,
        box-shadow 300ms ease;
}

.verb-card__right-bar{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 0.5em;
    background-color: var(--red);
}

#verb-card-face__focused{
    background-color: var(--red);
    opacity: 100%;
    transform: scale(1.025);
    box-shadow: 0.1em 0.1em 0.5em var(--selected),
                0.1em 0.1em 1em var(--selected);
}

#verb-card-face__focused > p{
    /* background-color: rgba(0, 0, 0, 0.05); */
    /* box-shadow: 0.2em 0.2em 0.1em var(--selected) inset; */
    color: var(--offwhite);
}

#conjugations__container{
    position: relative;
    height: calc(100% - 5em);
    border-radius: 1em;
    background-color: var(--lightgray);
}

#conjugations__content{
    box-sizing: border-box;
    height: 100%;
    padding: 2em 1.5em 1.5em 1.5em;
    overflow-y: scroll;
}

#conjugations__collapse{
    position: absolute;
    cursor: pointer;
    width: 1.2em;
    height: 2.4em;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: var(--textcolor);
    color: var(--offwhite);
    border-radius: 0 1.2em 1.2em 0;
    display: flex;
    align-items: center;
    justify-content: left;
    opacity: 0%;
    transition: opacity 300ms ease;
}

#conjugations__collapse > svg{
    margin-left: 0.25em;
    height: 1em;
}

#conjugations__collapse:hover{
    opacity: 50%
}

/* DETAILS */
#detail-bar{
    position: relative;
    box-sizing: border-box;
    height: 4em;
    border-radius: 1em;
    margin-bottom: 1em;
    background-color: var(--lightgray);
    display: flex;
    align-items: center;
}

#verb-details{
    box-sizing: border-box;
    height: 2.25em;
    border-radius: 1.125em;
    color: var(--textcolor);
    display: flex;
    align-items: center;
    overflow-x: scroll;
    margin: 0 1em;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

#verb-details::-webkit-scrollbar {
    display: none;
}

.detail{
    display: flex;
    align-items: center;
    height: 2.25em;
    width: fit-content;
    color: var(--textcolor);
    background-color: var(--textcolor);
    border-radius: 1.25em;
    margin-right: 0.5em;
}

.detail > .verb-details__icon{
    box-sizing: border-box !important;
    margin: 0 0.6em 0 0.25em;
    height: 1.75em;
    width: 1.75em;
    padding: 0.25em;
    border-radius: 1em;
    background-color: var(--offwhite);
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail > p{
    margin: 0;
    padding: 0;
    color: var(--offwhite);
    margin-right: 1em;
    line-height: 2em;
    font-weight: 600;
    white-space: nowrap;
}

#verb-details__translation{
    background-color: var(--blue);
    color: var(--blue);
}

#verb-details__infinitive-audio:hover ~ .tooltip{
    opacity: 0 !important;
}

#verb-details__infinitive-star:hover ~ .tooltip{
    opacity: 0 !important;
}

#verb-details__translation-toggle:hover ~ .tooltip{
    opacity: 0 !important;
}

#verb-details__translation-dropdown:hover ~ .tooltip{
    opacity: 0 !important;
}

#verb-details__infinitive-audio,
#verb-details__infinitive-star,
#verb-details__translation-toggle,
#verb-details__regularity-toggle{
    box-sizing: border-box;
    cursor: pointer;
    background-color: var(--textcolor50);
    color: var(--offwhite);
    margin: 0;
    margin-right: 0.25em;
    border-radius: 50%;
    border: 0;
    font-size: 1em;
    height: 1.75em;
    width: 1.75em;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: box-shadow 200ms ease, background-color 200ms ease;
}

#verb-details__infinitive-audio,
#verb-details__infinitive-star{
    background-color: rgba(0, 0, 0, 0.15);
}

#verb-details__regularity-toggle{
    background-color: rgba(75, 0, 25, 0.15);
}

#verb-details__infinitive-audio:hover,
#verb-details__infinitive-star:hover,
#verb-details__translation-toggle:hover,
#verb-details__regularity-toggle:hover{
    box-shadow: 0 0 0 0.1em var(--lightgray) inset;
}

#verb-details__infinitive-audio > svg,
#verb-details__infinitive-star > svg,
#verb-details__translation-toggle > svg,
#verb-details__regularity-toggle > svg{
    height: 0.9em;
    width: 0.9em;
}

#verb-details__infinitive-star{
    position: relative;
}

#star__active,
#star__inactive{
    position: absolute;
    color: var(--offwhite);
    left: 50%;
    transform: translateX(-50%);
    height: 1em;
    transition: opacity 200ms ease;
}


#verb-details__translation-dropdown{
    pointer-events: none;
    position: absolute;
    top: calc(100% - 0.35em);
    z-index: 10000;
    overflow-y: hidden;
    filter: drop-shadow(0 0 1.5em var(--selected)) 
            drop-shadow(0 0 0.75em var(--selected))
            drop-shadow(0 0 1em var(--selected));
    transition: height 300ms ease;
}

#verb-details__translation-dropdown__backdrop{
    pointer-events: all;
    position: absolute;
    height: 5em;
    width: calc(100% - 8.5em);
    height: 100%;
    background-color: var(--offwhite);
    /* background-image: repeating-linear-gradient(to bottom, pink, pink 3em, blue, blue 3em); */;
    background: repeating-linear-gradient(var(--offwhite), var(--offwhite) 3em, var(--lightgray) 3em, var(--lightgray) 6em);
    border-radius: 0.5em;
}


#verb-details__translation-dropdown .translation{
    position: relative;
    display: flex;
    align-items: center;
}

#verb-details__translation-dropdown .translation > *{
    box-sizing: border-box;
    color: var(--textcolor);
    margin: 0;
}

.translation > .eng{
    padding: 0.5em 1em;
    border-radius: 0.3em 0 0 0.3em;
    flex: 1;
    line-height: 2em;
    white-space: nowrap;
    max-width: 15em;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.translation > .eng::-webkit-scrollbar {
    display: none;
}

.translation > .translation-bars{
    pointer-events: all;
    height: 2.75em;
    width: 2.75em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 0.15em;
    padding: 0.75em;
}

.translation > .translation-bars > div{
    width: 0.45em;
    background-color: var(--blue);
    border-radius: 0.25em;
}

.translation-bars__1{
    /* height: 40%; */
    height: 0.45em;
}

.translation-bars__2{
    /* height: 70%; */
    height: 0.85em;
}

.translation-bars__3{
    /* height: 100%; */
    height: 1.25em;
}

#verb-details__rank #verb-details__rank-icon{
    height: 100%;
    width: 100%;
    -webkit-mask: url(../../assets/images/rank.svg) no-repeat center;
    mask: url(../../assets/images/rank.svg) no-repeat center;
}

#verb-details__regularity > svg{
    border: 0.25em solid var(--offwhite);
    padding: 0.275em;
    background-color: inherit;
    color: var(--offwhite);
}

#verb-details__participle-present,
#verb-details__participle-past{
    background-color: var(--purple);
    color: var(--purple);
}

.divider-vertical{
    flex-shrink: 0;
    height: 75%;
    width: 0.1em;
    border-radius: 0.05em;
    background-color: var(--textcolor50);
    margin-left: 0.25em;
    margin-right: 0.75em;
}

#conjugations__expand{
    flex-shrink: 0;
    width: 2em;
    height: 2em;
    margin-left: auto;
    margin-right: 1em;
}

#conjugations__expand-button{
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: var(--yellow);
    color: var(--offwhite);
    border: 0;
    outline: 0;
    border-radius: 0.25em 0.75em 0.25em 0.75em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 200ms ease, scale 200ms ease;
}

#conjugations__expand-button > svg{
    transform: scale(1.25);
}

#conjugations__expand-button:hover{
    filter: brightness(1.075) saturate(1.05);
    transform: scale(1.05);
}

.detail:hover:not(.tooltip:hover) .tooltip.top{
    opacity: 100%;
}

.translation-bars:hover + .tooltip{
    opacity: 100%;
}

.tooltip{
    pointer-events: none;
    opacity: 0%;
    position: absolute;
    z-index: 100;
    margin: 0;
    margin-top: 3.75em;
    transition: opacity 200ms ease 50ms;
    width: fit-content !important;
}

.tooltip__arrow{
    width: 0; 
    height: 0;
    border-width: 0.5em;
    border-style: solid;
    border-color: transparent transparent var(--textcolor);
    background-color: transparent;
}

.tooltip.top{
    position: absolute;
    top: 0;
}

.tooltip.top > .tooltip__body{
    transform: translateX(-0.5em);
}

.tooltip.top > .tooltip__arrow{
    position: absolute;
    top: 0;
    left: 0.65em;
    transform: translateY(-100%);
}

.tooltip.left{
    position: relative;
    display: flex;
    align-items: center;
    width: 8.5em !important;
    transform: translateX(-1.5em) scale(0.9);
}

.tooltip.left > .tooltip__arrow{
    transform: translateX(0.2em) rotate(270deg) scaleX(1.2);
}

.tooltip__body{
    color: var(--offwhite);
    background-color: var(--textcolor);
    text-align: center;
    margin: 0;
    padding: 0.5em 1em;
    font-size: 0.9em;
    font-weight: 600;
    border-radius: 2em;
    white-space: nowrap;
}

/* #verb-details__infinitive .tooltip__body{
    transform: translateX(1.5em);
}

#verb-details__participle-past .tooltip__body{
    transform: translateX(-3.15em);
} */