.container{
    width: fit-content;
    height: fit-content;
    margin: auto;
    display: flex;
}

@keyframes loading-circle-pulse{
    from { 
        transform: scale(1);
        opacity: 75%
    }
    to { 
        transform: scale(1.5);
        opacity: 100%
    }
}

.circle-1,
.circle-2,
.circle-3{
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 0 0.5em;
}

.circle-1{
    animation: loading-circle-pulse 750ms ease-in-out infinite alternate;
}

.circle-2{
    animation: loading-circle-pulse 750ms ease-in-out 250ms infinite alternate;
}

.circle-3{
    animation: loading-circle-pulse 750ms ease-in-out 500ms infinite alternate;
}