.arrow-button{
    position: absolute;
    cursor: pointer;
    width: 1.2em;
    height: 2.4em;
    top: 50%;
    background-color: var(--textcolor);
    color: var(--offwhite);
    border-radius: 1.2em 0 0 1.2em;
    display: flex;
    align-items: center;
    justify-content: right;
    opacity: 0%;
    transition: opacity 300ms ease;
}

.arrow-button > svg{
    margin-right: 0.25em;
    height: 1em;
}

.arrow-button:hover{
    opacity: 50%
}

.arrow-button.left{
    transform: translateY(-50%) rotate(0);
    right: 0;
}

.arrow-button.right{
    transform: translateY(-50%) rotate(180deg);
    left: 0;
}