.conjugations-section__title{
    box-sizing: border-box;
    color: var(--offwhite);
    padding: 0.5em 1.25em 0.4em 1.25em;
    background-color: var(--textcolor);
    width: fit-content;
    line-height: 1.75em;
    font-size: 1em;
    font-weight: 700;
    border-radius: 1em 1em 0 0;
    margin: 0;
    margin-left: 1em;
}

.conjugations-section__title:not(#conjugations-section__title__indicative){
    margin-top: 2.5em;
}

.divider{
    width: 100%;
    height: 0.3em;
    background-color: var(--textcolor);
    opacity: 15%;
    margin: 0;
    margin-bottom: 1em;
    border-radius: 0.25em;
}

.conjugations-section__body{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17.5em, 1fr));
    min-width: 19.5em;
    column-gap: 1em;
    row-gap: 1em;
    padding: 1em;
    border-radius: 1em;
    background-color: var(--selected);
}