.tense-card{
    position: relative;
    box-sizing: border-box;
    padding-bottom: 1em;
    width: 100%;
    border-radius: 1vh;
    background-color: var(--offwhite);
    box-shadow: 0 0 0.5em var(--selected);
    overflow: hidden;
    transition: width 200ms linear, transform 200ms linear;
}

.tense-card__content{
    margin: 0;
}

.tense-card__header{
    background-color: var(--lightgray);
    padding-top: 1em;
    background: linear-gradient(var(--lightgray) 0%, var(--lightgray) 62.5%, var(--offwhite) 62.5%, var(--offwhite) 100%);
    height: 3em;
}

.tense-name{
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: 700;
    padding: 0;
    margin: 0;
    margin-left: 1em;
    width: fit-content;
    padding: 0.7em 1em;
    font-size: 0.9em;
    line-height: 1em;
    max-width: calc(100% - 2em);
    background-color: currentColor;
    white-space: nowrap;
    border-radius: 2em;
    overflow: hidden;
    border: 0.5em solid var(--offwhite);
}

.tense-name > span{
    display: inline-block;
    pointer-events: none;
    color: var(--offwhite);
    transition: transform 1000ms ease;
}
/* 
.tense-name::before,
.tense-name::after{
    position: absolute;
    content: "";
    width: 1em;
    height: 100%;
    top: 0;
    color: inherit;
    z-index: 1;
}

.tense-name::before{
    left: 0;
    background: linear-gradient(-90deg, color(currentColor, alpha(0%)), currentColor 60%);
}
.tense-name::after{
    right: 0;
    background: linear-gradient(90deg, transparent, currentColor 60%);
} */

.tense-card__content > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-x: scroll;
    overflow-y: hidden;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tense-card__content > ul::-webkit-scrollbar {
    display: none;
}

.subject-line__wrapper{
    position: relative;
    height: 1.75em;
}

.subject-line__wrapper:nth-last-of-type( 2n ){
    background-color: rgba( 255, 255, 255, 0.85 );
}

.subject-line__container{
    width: fit-content;
}

.subject-line__inactive *{
    pointer-events: none;
}

.subject-line__active{
    position: relative;
    box-sizing: border-box;
    height: 1.75em;
    width: 0%;
    border-radius: 0 0.875em 0.875em 0;
    margin: -1.75em 0.5em 0 -1.75em;
    overflow: hidden;
    z-index: 100;
}

.subject-line__active > .subject-line__content{
    margin-left: 3.5em;
}

.subject-line__active p{
    color: var(--offwhite);
    opacity: 100%;
    user-select: none;
}

.subject-line__inactive{
    box-sizing: border-box;
    height: 1.75em;
}

.subject-line__content{
    height: 100%;
    margin-left: 1.75em;
    display: flex;
    align-items: center;
}

.subject{
    font-weight: 500;
    color: var(--textcolor);
    opacity: 40%;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    margin-right: 0.4em;
}

.conjugation{
    position: relative;
    font-weight: 700;
    color: var(--textcolor);
    transition: opacity 200ms ease;
    white-space: nowrap;
    display: flex;
    padding: 0;
    margin: 0;
    user-select: text;
}

.conjugation > span{
    white-space: pre;
}

.irregular[complexity = "simple" ] .subject-line__inactive p,
.irregular span.participle-past{
    color: var(--red);
}

.stem-changing[complexity = "simple" ] .subject-line__inactive p,
.stem-changing span.participle-past{
    color: var(--orange);
}

.participle-past{
    transition: color 200ms ease !important;
}

.subject-line__wrapper::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    opacity: 0.075;
    background-color: transparent;
    transition: background-color 200ms ease;
}

.irregular::before{
    background-color: var(--red);
}

.stem-changing::before{
    background-color: var(--orange);
}

.irregular, .stem-changing{
    background-color: rgba( 255, 255, 255, 0.15 );
}

.subject-line__button{
    cursor: pointer;
    margin-left: 0.5em;
    color: var(--offwhite);
    opacity: 0.75;
    transition: opacity 200ms ease;
}

.subject-line__button:hover{
    opacity: 1;
}

.subject-line__wrapper p {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color 200ms ease !important;
}

.extension::before{
    display: inline-block;
    content: "/";
    rotate: -7.5deg;
    translate: 0 0.05em;
    font-weight: 500;
    opacity: 0.5;
}

.subject-line__inactive .extension::before{
    color: var(--textcolor);
}

.subject-line__active .extension::before{
    color: var(--offwhite);
}