.tense-card{
    position: relative;
    box-sizing: border-box;
    padding-bottom: 1em;
    width: 100%;
    border-radius: 1vh;
    background-color: var(--offwhite);
    box-shadow: 0 0 0.5em var(--selected);
    overflow: hidden;
    transition: width 200ms linear, transform 200ms linear;
}

.tense-card__content{
    margin: 0;
}

.tense-card__header{
    background-color: var(--lightgray);
    height: 2.5em;
}

.tense-name{
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    font-weight: 700;
    padding: 0;
    margin: 0;
    margin-left: 1em;
    width: fit-content;
    padding: 0.7em 1em;
    font-size: 0.9em;
    line-height: 1em;
    max-width: calc(100% - 2em);
    background-color: currentColor;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 2em;
    border: 0.5em solid var(--offwhite);
    transform: translateY(1em);
    /* color: var(--offwhite); */
}

.tense-name > span{
    display: inline-block;
    pointer-events: none;
    color: var(--offwhite);
    transition: transform 1000ms ease;
}
.tense-name::before,
.tense-name::after{
    content: "";
    position: absolute;
    width: 1em;
    height: 100%;
    top: 0;
    color: inherit;
    z-index: 1;
}

.tense-name::before{
    content: "";
    position: absolute;
    width: 1em;
    height: 100%;
    top: 0;
    color: inherit;
    z-index: 1;
}

.tense-name::before{
    left: 0;
    background: linear-gradient(-90deg, transparent, currentColor 60%);
}
.tense-name::after{
    right: 0;
    background: linear-gradient(90deg, transparent, currentColor 60%);
}

.tense-card__content > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 1.5em;
    overflow-x: scroll;
    overflow-y: hidden;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tense-card__content > ul::-webkit-scrollbar {
    display: none;
}

.subject-line__wrapper{
    height: 1.75em;
}

.subject-line__container{
    width: fit-content;
}

.subject-line__inactive *{
    pointer-events: none;
}

.subject-line__active{
    position: relative;
    box-sizing: border-box;
    height: 1.75em;
    width: 0%;
    border-radius: 0 0.875em 0.875em 0;
    margin: -1.75em 1em 0 -1.75em;
    overflow: hidden;
    z-index: 100;
}

.subject-line__active > .subject-line__content{
    margin-left: 3.5em;
}

.subject-line__active p{
    color: var(--offwhite);
    opacity: 100%;
    user-select: none;
}

.subject-line__inactive{
    box-sizing: border-box;
    height: 1.75em;
}

/* .subject-line:hover > .subject-line__active{
    width: calc(100% + 0.5em);
} */

.subject-line__content{
    height: 100%;
    margin-left: 1.75em;
    display: flex;
    align-items: center;
}

.subject{
    font-weight: 500;
    color: var(--textcolor);
    opacity: 40%;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    margin-right: 0.4em;
}

.conjugation{
    position: relative;
    font-weight: 700;
    color: var(--textcolor);
    transition: opacity 200ms ease;
    white-space: nowrap;
    display: flex;
    padding: 0;
    margin: 0;
    user-select: text;
}

.conjugation.irregular{
    color: var(--red);
}

.conjugation.stem-changing{
    color: var(--orange);
}

.subject-line__button{
    cursor: pointer;
    margin-left: 0.5em;
    color: var(--offwhite);
    opacity: 0.75;
    transition: opacity 200ms ease;
}

.subject-line__button:hover{
    opacity: 1;
}

.subject-line p {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}