@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --offwhite: #f5f2f0;
    --offwhite90: rgb(235, 230, 226, 0.9);
    --lightgray: hsl(22, 20%, 92%);
    --textcolor: rgba(70, 70, 70, 0.995);
    --textcolor50: rgba(70, 70, 70, 0.25);
    --selected: rgba(70, 70, 70, 0.10);
    --shadow: rgba(70, 70, 70, 0.05);
    --textspacing: 0vh;
    --complete: rgb(76, 209, 44);
    --roundcomplete: rgb(255, 192, 0);
    --incorrect: rgb(255, 50, 100);
    --hinted: rgb(120, 120, 120);
    --loadingradius: 10vh;
    --highlight: rgba(75, 185, 99, 0.25);

    --red: #ff3366;
    --orange: hsl(24, 100%, 56%);
    --yellow: hsl(45, 100%, 50%);
    --green: hsl(108, 65%, 50%);
    --aqua: hsl(180, 100%, 42%);
    --blue: hsl(211, 100%, 50%);
    --purple: hsl(274, 100%, 55%);
    --pink: hsl(323, 87%, 48%);

    --red-dark: hsl(345, 100%, 49%);
    --orange-dark: hsl(20, 100%, 49%);
    --yellow-dark: hsl(41, 100%, 50%);
    --green-dark: hsl(120, 100%, 38%);
    --aqua-dark: hsl(185, 100%, 35%);
    --blue-dark: hsl(219, 100%, 49%);
    --purple-dark: rgb(124,0,252);

    --red-highlight: hsl(348, 71%, 89%);
    --orange-highlight: hsl(24, 73%, 88%);
    --yellow-highlight: hsl(42, 75%, 87%);
    --green-highlight: hsl(100, 44%, 87%);
    --blue-highlight: hsl(213, 63%, 87%);
    --purple-highlight: hsl(280, 62%, 88%);
    --pink-highlight: hsl(323, 71%, 89%);
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Montserrat";
    font-weight: 700;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;

    min-width: 25em;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.disable-transitions * {
    transition: none !important;
}