.navbar{
    margin: 0;
    width: 100%;
    height: 3.9em;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 0.1em solid var(--selected);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    z-index: 1000000;
}

.navbar > nav{
    display: flex;
    align-items: center;
    margin: 0;
}

#nav-items{
    position: relative;
}

#nav-items__container{
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.5em;
}

#nav-item__highlight{
    position: absolute;
    height: 2.1em;
    width: 0em;
    border-radius: 1.05em;
    left: 50000em;
}

#profile-specific{
    margin-left: 3em;
    display: flex;
    align-items: center;
    position: relative;
}

/* NAV ITEM */
.nav-item{
    position: relative;
    opacity: 60%;
    transition: opacity 200ms ease;
    z-index: 10;
}

.nav-item:hover{
    opacity: 100%
}

.nav-item.current{
    opacity: 100%
}

.nav-item a{
    color: inherit;
    text-decoration: none;
}

.nav-item button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-family: "Montserrat";
    font-weight: 700;
    color: var(--textcolor);
    padding: 1em 0 1em;
    font-size: 1em;
    display: flex;
    align-items: center;
}

#about:hover::before,
#about.current::before,
#about.current::after{
    background-color: var(--red); 
}

#learn:hover::before,
#learn.current::before,
#learn.current::after{
    background-color: var(--orange);
}

#practice:hover::before,
#practice.current::before,
#practice.current::after{
    background-color: var(--yellow);
}

#reference:hover::before,
#reference.current::before,
#reference.current::after{
    background-color: var(--green);
}

#about:hover p,
#about.current p{
    color: var(--red) 
}

#learn:hover p,
#learn.current p{
    color: var(--orange) 
}

#practice:hover p,
#practice.current p{
    color: var(--yellow) 
}

#reference:hover p,
#reference.current p{
    color: var(--green) 
}

#practice:hover p, #practice.current p
#reference:hover p, #reference.current p{
    filter: brightness( 0.925 ) saturate( 1.25 )
}

@media only screen and (min-width: 50em){
    #nav-items__container{
        box-shadow: none !important;
        padding: none;
    }

    .nav-item p{
        margin: 0;
        padding: 0 1em;
        font-weight: 600;
        line-height: 2em;
        transition: 
            color 200ms ease,
            filter 200ms ease;
    }

    .nav-item::before{
        position: absolute;
        content: "";
        top: 50%; left: 0;
        width: 100%;
        height: 2em;
        transform: translateY( -50% );
        border-radius: 100vmax;
        opacity: 0.175;
        z-index: -1;
        background-color: transparent;
    }

    .current::after{
        position: absolute;
        content: "";
        top: calc(100% - 0.25em); left: 1em;
        width: calc( 100% - 2em );
        height: 0.25em;
        border-radius: 100vmax 100vmax 0 0;
    }
}

@media only screen and (min-width: 51em){
    .nav-item::before{
        transition: background-color 200ms ease 50ms,
    }
}

#hamburger{
    cursor: pointer;
    position: absolute;
    visibility: hidden;
}

#hamburger > svg{
    height: 1.5em;
    color: var(--textcolor);
    opacity: 0.5;
    transition: opacity 200ms ease;
}

#hamburger:hover > svg{
    opacity: 1;
}

@media only screen and ( max-width: 50em ) {
    .navbar{
        margin-left: 0;
        width: 100%;
    }

    .navbar > nav{
        width: 100%;
        margin-left: 2em;
        margin-right: 2em;
        justify-content: unset;
    }
    
    #nav-items{
        margin-left: auto;
    }

    #hamburger{
        position: static;
        visibility: visible;
        margin-left: auto;
    }

    #nav-items__container{
        position: absolute;
        content: "";
        top: 2.5em;
        right: 0;
        background-color: rgb(250, 250, 250);
        height: 0em;
        width: 9em;
        flex-direction: column;
        gap: 0;
        justify-content: left;
        border-radius: 0.75em;
        z-index: 10000;
        overflow: hidden;

        transition: 
            box-shadow 400ms ease,
            height 300ms ease,
            padding 300ms ease;
    }

    .nav-item{
        width: 100%;
        opacity: 1;
    }

    .nav-item button{
        padding: 0 1.5em 0 1.75em;
        height: 3.25em;
    }

    .nav-item button > p{
        margin: 0;
        transition:
            margin-left 300ms ease,
            color 150ms ease;
    }

    .current p,
    .nav-item:hover p{
        margin-left: 0.5em !important;
    }

    .nav-item::before{
        content: "";
        position: absolute;
        top: 0.4em;
        right: -3.25em;
        width: 0;
        bottom: 0.4em;
        opacity: 0.175;
        border-radius: 1.75em 0 0 1.75em;
        transition: width 300ms ease;
        z-index: -1;
    }

    .nav-item:hover::before,
    .current::before{
        width: 11em;
    }

    .nav-item::after{
        position: absolute;
        content: "";
        height: calc(100% - 2em);
        width: 0.25em;
        top: 50%; left: 0;
        transform: translateY(-50%);
        border-radius: 0 100vmax 100vmax 0;
        transition:
            left 200ms ease,
            opacity 200ms ease,
            height 200ms ease,
            border-radius 200ms ease;
    }

    .current::after{
        height: calc(100% - 1em);
    }

    .nav-item:not(.current)::after{
        left: 0.8em;
        background-color: var(--textcolor50);
        border-radius: 100vmax;
        opacity: 0.8;
    }

    .nav-item:not(.current):hover::after{
        left: 0;
        border-radius: 0 100vmax 100vmax 0;
        height: calc(100% - 1em);
        opacity: 1;
    }

    #about::before,
    #about::after{
        background-color: var(--red)
    }
    #learn::before,
    #learn::after{
        background-color: var(--orange)
    }
    #practice::before,
    #practice::after{
        background-color: var(--yellow)
    }
    #reference::before,
    #reference::after{
        background-color: var(--green)
    }

    #profile-specific{
        margin-left: 1.25em;
    }
}